@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container h1 {
    font-weight: 600;
    font-size: 18px;
    color: #3498db;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.qr-img {
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.input-label {
    display: block;
    margin-bottom: 15px;
    color: #3498db;
    font-size: 15px;
    font-weight: 500;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #3498db;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.generate-button {
    background-color: #3498db;
}

.generate-button:hover {
    background-color: #2980b9;
}

.generate-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.download-button {
    background-color: #2ecc71;
    margin-left: 15px;
}

.download-button:hover {
    background-color: #27ae60;
}

p {
    font-size: 15px;
    font-weight: 500;
    color: #3498db;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #344ddb;
}